.toggle {
  background-color: linear-gradient(180deg,rgba(93, 96, 89, 1) 0%, rgba(243, 255, 72, 1) 100%);
  border-radius: 10px;
  border-color: #3f3f37;
  box-shadow: 0px 10px 0 #3f3f37;
  color: #3f3f37;
  font-weight: bold;
  display: inline-block; 
  height: 25px;
  position: relative;
  transition: ease-in-out 0.25s;
  width: 100px;
}

.toggle:hover {
  color: #b1b1b1;
  background-color: #3f3f37;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

label input {
  height: 0;
  opacity: 0;
  width: 0;
}

input:checked + .toggle:hover {
  background-color: #3f3f37;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/*all of them need a box shadow of sorts.*/
input:checked + .n1 {
  box-shadow: 0px 10px 0 #8e6c88;
  color: #8e6c88;
}

input:checked + .n2 {
  box-shadow: 0px 10px 0 #d4aa7d;
  color: #d4aa7d;
}

input:checked + .n3 {
  box-shadow: 0px 10px 0 #efd09e;
  color: #efd09e;
}

input:checked + .n4 {
  box-shadow: 0px 10px 0 #d2d8b3;
  color: #d2d8b3;
}

/*could maybe replace it with: --box-shadow-color: #00eeff;*/
input:checked + .n5 {
  box-shadow: 0px 10px 0 #90a9b7;
  color: #90a9b7;
}

/*wip: adjust to be responsive.
as such, keeping everything fairly simple until then.*/