/*wip: add border width*/
.toggle {
  background-color: #f2ff00;
  border-radius: 10px;
  display: inline-block; 
  height: 25px;
  position: relative;
  transition: ease-in-out 0.25s;
  width: 100px;
  text-align: center;
}

.toggle input {
  height: 0;
  opacity: 0;
  width: 0;
}

/*it is essentially the color switch that is only remaining*/
.toggle + input:checked {
  background-color: white;
}

#levelToggle {
  font-family: var(--sans);
  width: 50px;
  height: 25px;
  background: #bbb8ff;
  border-radius: 10px;
  color: #040052;
  content: ''; 
  transition: ease-in-out 0.3s;
  padding: 10px;
}